.navbar {
  background-color: rgb(20, 20, 20);
  color: #24cd1e;
  top: 0px;
  display: flex;
  padding-left: 1rem;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  position: sticky;
  grid-column: 1/13;
  box-shadow: 0px 2px 2px rgb(10, 10, 10);
  z-index: 2;
}

.app-header {
  margin: 0px 0px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 400;
}

.fa-spotify {
  color: #24cd1e;
  font-size: 2rem;
}
.fa-github {
  color: #24cd1e;
  font-size: 2rem;
}
.nav-links {
  position: absolute;
  right: 1rem;
  font-size: 1.8rem;
  color: #24cd1e;
}

.fa-github :hover {
  cursor: pointer;
  color: #3ef838;
}
