.progress {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
}
.slider {
  appearance: none;
  width: 100px;
  height: 5px;
  background: #2cb92a;
  outline: none;
  border-radius: 9999px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #2cb92a;
  border-radius: 9999px;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 4px;
  background: #2cb92a;
  border-radius: 9999px;
}

.tooltip {
  color: #d3d3d3;
  font-size: 1rem;
  padding-left: 5px;
}
